body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .slider .slides li .caption{
    /* color:rgb(231 204 15); */
   color: #b71c1c   ;
  }
  blockquote{
    border-left: 5px solid #e90710;
  }